
/*
Example of use :
typedef struct		s_st {
	t_mappy_proto				cross;
	uint8_t 					st_flag;
}					t_st;
typedef struct		s_nd {
	t_mappy_proto				cross;
	uint8_t 					nd_flag;
}					t_nd;
typedef struct		s_result {
	t_exec_proto				cross;
	uint8_t						exec_flag;
}					t_result;
int 				add_sample_1(uint8_t *buf, void *conf_st, void *conf_nd, void *conf_exec)
{
	int j = 0;
	while (j < MAX_BUFFER_SIZE)
	{
		buf[j] += ((t_st*)conf_st)->st_flag;
		buf[j] += ((t_nd*)conf_nd)->nd_flag;
		buf[j] += ((t_exec*)conf_exec)->exec_flag;
		j++;
	}
	return (0);
}
int 				sub_sample_1(uint8_t *buf, void *conf_st, void *conf_nd, void *conf_exec)
{
	int j = 0;
	while (j < MAX_BUFFER_SIZE)
	{
		buf[j] -= ((t_st*)conf_st)->st_flag;
		buf[j] -= ((t_nd*)conf_nd)->nd_flag;
		buf[j] -= ((t_exec*)conf_exec)->exec_flag;
		j++;
	}
	return (0);
}
int 				mul_sample_1(uint8_t *buf, void *conf_st, void *conf_nd, void *conf_exec)
{
	int j = 0;
	while (j < MAX_BUFFER_SIZE)
	{
		buf[j] *= ((t_st*)conf_st)->st_flag;
		buf[j] *= ((t_nd*)conf_nd)->nd_flag;
		buf[j] *= ((t_exec*)conf_exec)->exec_flag;
		j++;
	}
	return (0);
}
int	(*_exec[MAX_EXECUTION_CMD][MAX_EXECUTION_HOOK])(uint8_t *, void *, void *, void *) = {
	{ // Cmd table
		{ // Hook table
			add_sample_1,
			NULL,
		}
	},
	{
		{
			sub_sample_1,
			NULL,
		}
	},
	{
		{
			mul_sample_1,
			NULL,
		}
	},
	NULL
};
#define MAPPYHOOKINDEX_ADD_SAMPLE_1		0
#define MAPPYHOOKINDEX_SUB_SAMPLE_1		0
#define MAPPYHOOKINDEX_MUL_SAMPLE_1		0

*/
